
img{
  border-radius:70px;
}
h1{
 text-align: center;
}
h3{
   font-family: "Segoe UI";
}
h2{
   font-family: "Segoe UI";
}
p{
   font-family: "Homer Simpson UI";
}
  
body{
  background-color:crimson;
}
